* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.the-first-block {
  width: 1440px;
  height: 709px;
  position: relative;
}

.the-first-block-text {
  padding: 160px 586px 48px 142px;
  font-family: Inter;
  font-size: 72px;
  font-weight: 800;
  line-height: 87px;
  letter-spacing: -1%;
  text-align: left;
}

.furniture-text {
  color: rgba(129, 114, 83, 1);
}

.the-first-block-button {
  width: 344px;
  height: 80px;
  border-radius: 12px;
  background: rgba(229, 240, 182, 1);
  display: flex;
  margin-left: 142px;
}

.magnifier {
  font-size: 24px;
  color: rgba(85, 59, 51, 1);
  padding: 28px 16px 28px 45px;
}

.magnifier-text {
  color: rgba(85, 59, 51, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  padding: 22px 40px 22px 0px;
  text-transform: uppercase;
}

.the-first-block-button-two {
  width: 344px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(85, 59, 51, 1);
  border-radius: 12px;
  display: flex;
  margin-left: 24px;
}

.play {
  font-size: 24px;
  padding: 28px 16px 28px 62px;
}

.play-text {
  color: rgba(85, 59, 51, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  padding: 22px 57px 22px 0px;
  text-transform: uppercase;
}

.buttons {
  display: flex;
}

.armchair {
  position: absolute;
  left: 918px;
  top: 0px;
}

.button-number-fhree {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  width: 93px;
  height: 52px;
  position: absolute;
  left: 966px;
  top: 381px;
  z-index: 30;
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
}

.armchair-text {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0%;
  text-align: left;
  position: absolute;
  top: 473px;
  left: 966px;
}

.spin {
  font-size: 24px;
  padding: 16px 24px 16px 0px;
  color: #ffffff;
}

.armchair-button {
  width: 197px;
  height: 56px;
  border-radius: 12px;
  background: rgba(47, 36, 31, 1);
  display: flex;
}

.armchair-button-text {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 16px 16px 24px;
  text-transform: uppercase;
}

.armchair-button-wrapper {
  position: absolute;
  top: 566px;
  left: 966px;
}

.squares {
  margin: 46px 201px 46px 100px;
}

.decoor-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -1%;
  text-align: left;
}

.decoor {
  width: 1440px;
  height: 140px;
  display: flex;
  position: relative;
}

.nav-wrapper {
  list-style: none;
  display: flex;
  padding: 58px 0px 58px 0px;

  .last-li {
    padding-right: 190px;
  }
}

.nav-wrapper li:not(:first-child) {
  padding-left: 64px;
}

.down-arrow {
  position: absolute;
  left: 670px;
  top: 58px;
}

.nav-wrapper li:nth-last-child(2) {
  padding-left: 96px;
}

.sign-up {
  color: rgba(47, 36, 31, 1);

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: left;
  width: 109px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  background: rgba(229, 240, 182, 1);
  margin: 46px 16px 46px 0px;
}

.package-icon {
  padding: 46px 100px 46px 0px;
}

.section-partner {
  width: 1440px;
  height: 305px;
  display: flex;
  background: rgba(252, 250, 250, 1);
}

.twenty-five-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-size: 96px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: -5%;
  text-align: left;
  margin-right: 67px;
}

.brands-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.section-partner-texts {
  width: 246px;
  height: 145px;
  margin: 80px 150px 80px 142px;
}

.colored-texts {
  width: 761px;
  height: 52px;
}

.gusto-text {
  font-family: Inter;
}

.company-logos {
  padding: 146px 142px 126px 0px;
}

.furniture-sets {
  width: 1440px;
  height: 683px;
  display: flex;
}

.all-image-in-this-sektion {
  width: 824px;
  height: 523px;
  margin-top: 80px;

  .first-image-in-this-sektion {
    padding-left: 0px;
  }
}

.all-image-in-this-sektion img {
  padding-left: 24px;
}

.furniture-sets-text-wrapper {
  width: 434px;
  height: 523px;
  margin: 80px 134px 80px 48px;
}

.categories-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1%;
  padding: 0px 312px 32px 0px;
}

.furniture-sets-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1%;
  padding-bottom: 32px;
}

.category-description {
  width: 433px;
  height: 307px;
  border-radius: 12px;
  background: rgba(252, 250, 250, 1);
}

.categories-sets-text-wrapper {
  display: flex;
}

.bedroom-text {
  padding: 20px 16px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  text-align: left;
}

.living-room-wrapper {
  width: 433px;
  height: 121px;
  background: rgba(229, 240, 182, 1);
}

.living-room-text {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  padding: 20px 24px 12px 24px;
}

.living-room-text-two {
  padding: 0px 24px 27px 24px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.home-office-text {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  padding: 20px 307px 20px 16px;
}

.gaming-room-text {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  padding: 20px 294px 20px 16px;
}
