* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.the-first-block {
  width: 1440px;
  height: 709px;
  position: relative;
}

.the-first-block-text {
  padding: 160px 586px 48px 142px;
  font-family: Inter;
  font-size: 72px;
  font-weight: 800;
  line-height: 87px;
  letter-spacing: -1%;
  text-align: left;
  --furniture-text-color: rgba(129, 114, 83, 1);
}

.furniture-text {
  color: var(--furniture-text-color);
}

.the-first-block-button {
  width: 344px;
  height: 80px;
  border-radius: 12px;
  background: rgba(229, 240, 182, 1);
  display: flex;
  margin-left: 142px;
}

.magnifier {
  font-size: 24px;
  color: var(--button-color);
  padding: 28px 16px 28px 45px;
}

.magnifier-text {
  color: var(--button-color);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  padding: 22px 40px 22px 0px;
  text-transform: uppercase;
}

.the-first-block-button-two {
  width: 344px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(85, 59, 51, 1);
  border-radius: 12px;
  display: flex;
  margin-left: 24px;
}

.play {
  font-size: 24px;
  padding: 28px 16px 28px 62px;
}

.play-text {
  color: rgba(85, 59, 51, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  padding: 22px 57px 22px 0px;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  --button-color: rgba(85, 59, 51, 1);
}

.armchair {
  position: absolute;
  left: 918px;
  top: 0px;
}

.button-number-fhree {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  width: 93px;
  height: 52px;
  position: absolute;
  left: 966px;
  top: 381px;
  z-index: 30;
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
}

.armchair-text {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0%;
  text-align: left;
  position: absolute;
  top: 473px;
  left: 966px;
}

.spin {
  font-size: 24px;
  padding: 16px 24px 16px 0px;
  color: #ffffff;
}

.armchair-button {
  width: 197px;
  height: 56px;
  border-radius: 12px;
  background: rgba(47, 36, 31, 1);
  display: flex;
}

.armchair-button-text {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 16px 16px 24px;
  text-transform: uppercase;
}

.armchair-button-wrapper {
  position: absolute;
  top: 566px;
  left: 966px;
}

.squares {
  margin: 46px 201px 46px 100px;
}

.decoor-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -1%;
  text-align: left;
}

.decoor {
  width: 1440px;
  height: 140px;
  display: flex;
  position: relative;
}

.nav-wrapper {
  list-style: none;
  display: flex;
  padding: 58px 0px 58px 0px;

  .last-li {
    padding-right: 190px;
  }
}

.nav-wrapper li:not(:first-child) {
  padding-left: 64px;
}

.down-arrow {
  position: absolute;
  left: 670px;
  top: 58px;
}

.nav-wrapper li:nth-last-child(2) {
  padding-left: 96px;
}

.sign-up {
  color: rgba(47, 36, 31, 1);

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: left;
  width: 109px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  background: rgba(229, 240, 182, 1);
  margin: 46px 16px 46px 0px;
}

.package-icon {
  padding: 46px 100px 46px 0px;
}

.section-partner {
  width: 1440px;
  height: 305px;
  display: flex;
  background: rgba(252, 250, 250, 1);
}

.twenty-five-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-size: 96px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: -5%;
  text-align: left;
  margin-right: 67px;
}

.brands-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.section-partner-texts {
  width: 246px;
  height: 145px;
  margin: 80px 150px 80px 142px;
}

.colored-texts {
  width: 761px;
  height: 52px;
}

.gusto-text {
  font-family: Inter;
}

.company-logos {
  padding: 146px 142px 126px 0px;
}

.furniture-sets {
  width: 1440px;
  height: 683px;
  display: flex;
}

.all-image-in-this-sektion {
  width: 824px;
  height: 523px;
  margin-top: 80px;

  .first-image-in-this-sektion {
    padding-left: 0px;
  }
}

.all-image-in-this-sektion img {
  padding-left: 24px;
}

.furniture-sets-text-wrapper {
  width: 434px;
  height: 523px;
  margin: 80px 134px 80px 48px;
}

.categories-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1%;
  padding: 0px 312px 32px 0px;
}

.furniture-sets-text {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1%;
  padding-bottom: 32px;
}

.category-description {
  width: 433px;
  height: 307px;
  border-radius: 12px;
  background: rgba(252, 250, 250, 1);
}

.categories-sets-text-wrapper {
  display: flex;
}

.bedroom-text {
  padding: 20px 16px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  text-align: left;
}

.living-room-wrapper {
  width: 433px;
  height: 121px;
  background: rgba(229, 240, 182, 1);
}

.living-room-text {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  padding: 20px 24px 12px 24px;
}

.living-room-text-two {
  padding: 0px 24px 27px 24px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.home-office-text {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  padding: 20px 307px 20px 16px;
}

.gaming-room-text {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1%;
  padding: 20px 294px 20px 16px;
}

.section-text-wrapper {
  width: 1441px;
  height: 486px;
  background: rgba(47, 36, 31, 1);
  --green-color-text: rgba(229, 240, 182, 1);
}

.why-text {
  color: var(--green-color-text);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  padding: 72px 1080px 40px 142px;
}

.details-and-quality {
  color: var(--green-color-text);
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -1%;
  text-align: left;
  padding: 0px 143px 40px 142px;
}

.search-wrapper {
  border-radius: 8px;
  background: rgba(229, 240, 182, 0.5);
  width: 40px;
  height: 40px;
  margin: 16px 16px 16px 0px;
}

.search {
  font-size: 17px;
  padding: 11px;
  color: white;
}

.search-wrapper-div {
  width: 1157px;
  height: 72px;
  display: flex;
  margin: 0px 142px 72px 142px;
}

.search-wrapper-div-text {
  color: var(--green-color-text);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  padding: 0px 64px 0px 0px;
  width: 342px;
}

.five {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  padding: 2px 12px;
}

.five-wrapper-text {
  color: var(--green-color-text);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  padding: 0px 64px 0px 0px;
  width: 353px;
}

.suitcase {
  padding: 10px 10px 11px 10px;
}

.suitcase-text {
  color: var(--green-color-text);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  padding: 16px 0px 20px 0px;
}

.bestseller-section {
  width: 1440px;
  height: 782px;
  background: rgba(47, 36, 31, 1);
  position: relative;
  --green-color-text: rgba(229, 240, 182, 1);
}

.our-products {
  color: var(--green-color-text);
  font-family: Inter;
  font-style: Regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1%;
  padding: 80px 811px 8px 143px;
}

.bestseller-text {
  color: var(--green-color-text);
  font-family: Inter;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1%;
  padding: 0px 445px 48px 143px;
}

.bestseller-text-wrapper {
  display: flex;
}

.see-more {
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  border-radius: 12px;
  background: var(--green-color-text);
  width: 153px;
  height: 52px;
  padding: 14px 34px;
  margin: 105px 142px 73px 0px;
}

.turquoise-sofa {
  position: absolute;
  top: 230px;
  right: 1269px;
}

.white-chair-wrapper {
  position: absolute;
  top: 230px;
  width: 354px;
  height: 472px;
  background: url("../img/Rectangle\ 6799.png");
  left: 207px;
}

.price-button {
  width: 93px;
  height: 52px;
  color: rgba(47, 36, 31, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  margin: 318px 237px 8px 24px;
  padding: 8px 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
}

.und-chair {
  color: var(--und-chair-color);
  font-family: Inter;
  font-style: Regular;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0%;
  padding: 0px 100px 36px 24px;
}

:root {
  --und-chair-color: rgba(255, 255, 255, 1);
  --become-a-member-color: rgba(47, 36, 31, 1);
  --green-color-text: rgba(229, 240, 182, 1);
  --gray-color: rgba(102, 112, 133, 1);
}

.red-sofa {
  position: absolute;
  top: 230px;
  left: 597px;
}

.table-image {
  position: absolute;
  top: 230px;
  left: 933px;
}

.shelf-image {
  width: 171px;
  height: 400px;
  position: absolute;
  top: 230px;
  left: 1269px;
  background: url("../img/Rectangle\ 6800.png");
}

.limited-deals {
  width: 1440px;
  height: 514px;
  background: rgba(252, 250, 250, 1);
}

.limited-deals-text {
  color: var(--become-a-member-color);
  font-family: Inter;
  font-style: Regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  padding: 80px 1118px 42px 142px;
}

.become-a-member {
  color: var(--become-a-member-color);
  font-family: Inter;
  font-style: Bold;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -1%;
  padding: 0px 130px 42px 142px;
}

.enter-your-email-here-wrapper {
  width: 503px;
  height: 80px;
  margin: 0px 0px 80px 142px;
  background: rgba(255, 255, 255, 1);
}

.enter-your-email-here-text {
  color: rgba(85, 59, 51, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1%;
  padding: 22px 36px;
}

.envelope-wrapper {
  width: 80px;
  height: 80px;
  background: var(--green-color-text);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.mail {
  font-size: 24px;
  margin: 28px;
}

.search {
  display: flex;
}

.footer-this-branch {
  width: 1440px;
  height: 398px;
  display: flex;
}

.footer-decoor {
  width: 666px;
  height: 225px;
  margin: 80px 84px 93px 100px;
}

.decoor-image {
  padding: 3.5px 568px 28.5px 0px;
}

.long-footer-text {
  color: var(--gray-color);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 0px 162px 69px 0px;
}

.copyright-text {
  color: var(--gray-color);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  padding: 0px 474px 0px 0px;
}

.links-to-the-application {
  width: 490px;
  height: 215px;
  display: flex;
}

.support-wrapper {
  width: 144px;
  height: 215px;
  margin: 90px 52px 93px 0px;
}

.support-text-main {
  color: rgba(16, 24, 40, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.support-text {
  color: var(--gray-color);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  padding-top: 30px;
}

.first-support-text {
  padding-top: 25px;
  color: var(--gray-color);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}

.links-to-the-application-wrapper {
  display: flex;
}
